{% extends 'base.html' %}
{% block content %}

<h1>New Item</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Please enter your information:</legend>



        <!-- TODO: Remove the next paragraph and use the `form` object passed in 
            from the route to render a form. -->
        {{ form.name.label }}
        {{ form.name }}
        <ul>
        {% for error in form.name.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.price.label }}
        {{ form.price }}
        <ul>
        {% for error in form.price.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.category.label }}
        {{ form.category }}
        <br>
        <br>
        {{ form.photo_url.label }}
        {{ form.photo_url }}
        <ul>
        {% for error in form.photo_url.errors %}
            <li class="error">{{ error }}</li>
        {% endfor %}
        </ul>

        {{ form.store.label }}
        {{ form.store }}
        <br>
        <br>
        {{ form.submit }}
    </fieldset>
</form>


{% endblock %}
